<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="m5.project.models.file.FileDao">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="fileMap" type="m5.project.models.file.FileDto">

		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="fileId" column="file_seq" />
		<result property="postId" column="post" />
		<result property="name" column="name" />
		<result property="originalName" column="original_name" />
		<result property="type" column="type" />
		<result property="size" column="size" />
		<result property="path" column="path" />

		<result property="regDt" column="reg_dt" />

	</resultMap>
	
	


</mapper>