<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="m5.project.models.reComment.ReCommentDao">
	
	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="reCommentMap" type="m5.project.models.reComment.ReCommentDto">
        <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
        <result property="reCommentId" column="re_comment_id" />
        <result property="userId" column="user" />
        <result property="commentId" column="comment" />
        <result property="borderId" column="border" />
        <result property="content" column="content" />
        
        <result property="regDt" column="reg_dt" />
        <result property="modDt" column="mod_dt" />
        
    </resultMap>


</mapper>